{% extends 'base.html' %}
{% block content %}
    <div class="nav">

        </nav>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline" method="get">
                {{ filter.form }}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Wyszukaj</button>
            </form>
        </nav>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Tytuł</th>
            <th scope="col">Autor</th>
            <th scope="col">Data Publikacji</th>
            <th scope="col">Liczba stron</th>
            <th scope="col">Numer ISBN</th>
            <th scope="col">Link do okładki</th>
            <th scope="col">Język publikacji</th>
        </tr>
        </thead>
        <tbody>
        {% for book in filter.qs %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publshed_date|date:" d.m.Y " }}</td>
            <td>{{ book.page_count }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.thumbnail }}</td>
            <td>{{ book.publication_language }}</td>
            <td><a href="{% url 'book-update' book.id %}"
                   class="btn btn-outline-success my-2 my-sm-0">Modyfikuj</a></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
